doctrine:
    dbal:
        driver: pdo_pgsql
        server_version: '18'
        host: "%env(DB_HOST)%"
        port: "%env(DB_PORT)%"
        user: "%env(DB_USER)%"
        password: "%env(DB_PASSWORD)%"
        dbname: "%env(DB_NAME)%"

when@test:
    doctrine:
        dbal:
            dbname: "%env(DB_NAME_TEST)%"